{% extends 'base.html.twig' %}

{% block title %}Annonces{% endblock %}

{% block body %}
<div class="container">
    <h1>Annonces</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ annonce.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ annonce.title }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ annonce.content }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_annonces_index') }}" class="btn btn-theme btn-rounded">back to list</a>

    <a href="{{ path('app_annonces_edit', {'id': annonce.id}) }}" class="btn btn-theme btn-rounded">edit</a><br/><br/>

    {{ include('annonces/_delete_form.html.twig') }}
    </div>
{% endblock %}
